---
title: "Patch notes 2015/08/07"
layout: "default"
category: "hack"
toc: true
menuHidden: true
---

#patch-note
    h1 Patch note #13
    p This relates development from 2015/07/27 to 2015/08/07.

    label(for="toggle-feature") Feature
    input#toggle-feature(type="checkbox", checked="true")
    label(for="toggle-bug") Bug
    input#toggle-bug(type="checkbox", checked="true")
    label(for="toggle-security") Security
    input#toggle-security(type="checkbox", checked="true")
    label(for="toggle-internal") Internal
    input#toggle-internal(type="checkbox", checked="true")

    h2 Stack
    h3 Home (V2.0.7)
    ul
        li.feature Allow to refuse to send logs on help form (#406)
        li.feature Improve display of available free disk space (#304)
        li.feature Improve calcul of available free memory (#493)
        li.feature Don't allow users on hosted instances to change their URL (#426)
        li.bug Don't try to install application when clicking on its repository in marketplace (#464)


    h2 Applications

    h3 Calendar (V1.0.21)
    ul
        li.feature Improve import of large event files (#371)
        li.feature Improve closing of modals (#345)
        li.feature Display week number (#199)
        li.feature Sort calendar list (#331)
        li.feature Add an ics file to invitation emails (#365)
        li.bug Fix calendar of new events (#350)
        li.bug Fix display of previous events in list view (#357)
        li.bug Fix deleting an event from list view
        li.bug Fix timezone problem when editing some recurring events (#360)
        li.bug Fix editing of all day events (#349)
        li.bug Fix renaming of new calendars (#319)


    h3 Contacts (1.1.7)
    ul
        li.bug Fix crash with too many contacts (#117)
        li.bug Fix server crash on contact creation (#118)

    h3 Emails (0.9.7)
    ul
        li.feature Improve messages sync
        li.feature Improve UI responsiveness

    h2 Mobile Application (V0.1.8)
    ul
        li.feature Add a welcome message (#63)

