doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/assets/images/favicon.png")
        title="Cozy Documentation"
        meta(name="description", content="It is the place to find documentation about Cozy. Cozy brings is a personal cloud platform that allows you to store, sync and share data the way you want.")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != getBlock('styles').add(['/vendors/css/knacss.css', '/vendors/css/icomoon.css', '/assets/css/home.css']).toHTML()
    body.homepage
        .navbar.fixed(aria-expanded='false')
            a.nav-logo(href="/en/")
                img(src='/assets/images/cozy-logo-gradient.svg', alt='Happy Cloud', width="50", height="38")
            nav
                ul.navigation.right
                    li: a(href="http://cozy.io/") Cozy.io
                ul.lang-switcher
                    li: a(href="/en/") EN
                    li: a.selected(href="/fr/") FR
            button.nav-toggle.icon-menu


        header.line.clearfix#header
            .line
                .left.mr2.biglogo
                    img(src='/assets/images/cozy-logo-gradient.svg', width="263", height="200", alt="Cozy logo")
                .mod.main-text
                    .mod.left
                        h1.mt2.main-title
                            span.title La documentation de Cozy
                        p.h4-like
                            | Informations sur la manière dont Cozy fonctionne
            .line.image-links.mb2.mt4
                .mod.w33.left
                    a.button(href="/en/host/install/")
                        | Installation
                .mod.w33.left
                    a.button(href="/en/mobile/files.html")
                        | Synchronization du mobile
                .mod.w33.left
                    a.button(href="/en/hack/getting-started/")
                        | Développement d'applications

            .line.external-links.txtcenter.mt4
                p.txtcenter.mb2
                    | Si vous avez besoin d'aide, vous avez trois moyens de
                    | nous contacter : 
                .mod.w33.left
                    a.button(href="mailto:support@cozycloud.cc")
                        | Ecrire à notre équipe support
                .mod.w33.left
                    a.button(href="https://forum.cozy.io")
                        | Poster sur notre forum
                .mod.w33.left
                    a.button(href="https://webchat.freenode.net/?channels=cozycloud")
                        | Chattez avec nous sur IRC

        //-script(type='text/javascript').
            //-var _paq = _paq || [];
            //-_paq.push(['disableCookies']);
            //-_paq.push(['trackPageView']);
            //-_paq.push(['enableLinkTracking']);
            //-(function() {
            //-var u="//piwik.cozycloud.cc/";
            //-_paq.push(['setTrackerUrl', u+'piwik.php']);
            //-_paq.push(['setSiteId', 3]);
            //-var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            //-g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            //-})();
        //-noscript
            //-p
                //-img(src="https://piwik.cozycloud.cc/piwik.php?idsite=3", style="border:0", alt="")

