@import 'nib'

blue = #34a6ff
lightblue = #cbe4fb
greyblue = #34a6bb
green = #5c5
orange = #fe8800
lightorange = #ffc47f
darkgrey = #333
lightgrey = #ccc
grey = #aaa
red = #dd3333


@font-face
  font-family main-light
  src url("../fonts/maven-pro-light-200.otf")

@font-face
  font-family main
  src url("../fonts/maven-pro-light-300.otf")

@font-face
  font-family cool
  src url("../fonts/signika-regular.ttf")

body
  font-family cool
  background-color: darkgrey

.wrapper
    margin: auto auto
    width: 100%
    max-width: 960px
    background-color: white
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    padding-top: 20px

// Header styles
header
  font-family main-light
  border-bottom 5px solid lightorange
  padding 20px 20px 5px 20px

  h1
    font-size 30px
    padding 0 !important
    margin-left 15px
    .title
      font-size 60px
      position relative


    .menu-button
      font-size 30px
      padding 10px
      border 1px solid blue
      border-radius 10px
      text-decoration none
      user-select none
      color #000


      &:hover
        color white
        background orange
        border-color orange
      &:active
        box-shadow inset 0 0 15px lightorange
      &.selected
        color white
        background blue
        &:hover
          border-color blue
        &:active
          box-shadow none

  .subtitle
    display block
    margin-top 5px
    font-family main-light
    font-size 15px
    font-weight bold


// Menu styles

aside
  border-right: 1px solid lightblue
  margin-top 20px

#navigation
  margin 0 0px 20px 20px
  ul
    list-style-type none
    padding 0
    font-family main-light

    li
      border-bottom 1px solid lightblue
      line-height 30px
      cursor pointer

      a, a:active
        color blue
      &.selected a
        color #fff

      .label
        width: 100%
        padding 10px 0
        display: inline-block
        user-select none
        text-decoration none

        &:hover
          background orange
          color #fff

        &:active
          box-shadow inset 0 0 15px lightorange

      &:last-of-type
        border-bottom 0

      &.selected
        background blue
        padding-bottom 0

    &.first-level li
      .label
        font-family cool
        padding-left 10px
      &.selected > ul
        border-top 1px solid lightblue

    &.second-level
      li
        color #fff
        border-bottom 0
        text-align center
        line-height 20px

        .label
          padding 7px 0

        &:hover
          background orange

        .selected
          color lightblue

#social
  margin 0 20px 20px 20px

  ul
    list-style-type none
    margin 0
    padding 0

    li a
      color blue

// Content styles
#main

  .breadcrumb
    padding 8px 15px
    background lightblue
    color #666
    border-radius 5px
    list-style-type none

    li
      &:not(.selected):after
        content " /"
      &.selected
        color greyblue
  p
    font-size 20px

// Footer styles
#footer
  color white
  text-align center
  margin-bottom: 10px

  ul
    list-style-type none
    padding 0
    display inline-block
    
#main
    p
        font-weight: normal
        font-size: 15px
        font-family: main
        margin-top: 2px
        color: #444

        code
            padding: 8px

    ul
        li
            font-size: 15px
            font-family: main
            color: #444

    h3
        margin-bottom: 15px
        margin-top: 35px
        font-family: cool
        font-weight: normal

    h2
        margin-bottom: 20px
        margin-top: 50px
        font-family: cool
        font-weight: normal
        font-size: 30px

    h1
        font-family: cool

    a
    a:visited
        color: black

    a:hover
        color: orange - 40%

    pre.highlighted
        margin-top: 0
        margin-bottom: 15px

    code
        padding: 20px
        border-radius: 10px
        line-height: 20px
        margin-top: 10px

#footer
    margin-top: 30px
    background: lightgrey + 10%
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

    a 
        font-size: 18px
        text-decoration: none
        font-family: main
        color: black

    a:hover
        color: orange - 40%

.navbar
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.4)

    .nav-logo
        margin-top: 0
        margin-right: 10px
